<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
    {{if(options.localrepository !== undefined)}}
    <localRepository>{{localrepository}}</localRepository>
    {{/if}}
    {{if(options.servers !== undefined)}}
    <servers>
        {{each(options.servers)}}
        <server>
            {{foreach(@this)}}
            <{{@key}}>{{@this}}</{{@key}}>
            {{/foreach}}
        </server>
        {{/each}}
    </servers>
    {{/if}}
    {{if(options.mirrors !== undefined)}}
    <mirrors>
        {{each(options.mirrors)}}
        <mirror>
            {{foreach(@this)}}
            <{{@key}}>{{@this}}</{{@key}}>
            {{/foreach}}
        </mirror>
        {{/each}}
    </mirrors>
    {{/if}}
</settings>